In [1]:
from datascience import *
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd

In [40]:
prices = Table.read_table('F2_bids_5.csv').sort('PRICE1')
prices

TEAM     | TEAM_ID | PORTFOLIO  | PORTFOLIO_ID | PLANT                | PLANT_ID | PERIOD | PRICE1 | PRICE2 | PRICE3 | PRICE4
Coase    | 3       | Old_Timers | 6            | BIG_CREEK            | 61       | 5      | 0      | 0      | 0      | 0
Arrow    | 1       | Low_Fossil | 7            | HELMS                | 72       | 5      | 0.5    | 0.5    | 0.5    | 0.5
Arrow    | 1       | Low_Fossil | 7            | DIABLO_CANYON_1      | 75       | 5      | 11.5   | 11.5   | 11.5   | 11.5
Coase    | 3       | Old_Timers | 6            | MOHAVE_1             | 62       | 5      | 34.5   | 34.5   | 34.5   | 34.5
Friedman | 5       | Bay_Views  | 3            | MOSS_LANDING_6       | 33       | 5      | 40     | 40     | 40     | 40
Friedman | 5       | Bay_Views  | 3            | MOSS_LANDING_7       | 34       | 5      | 40     | 40     | 40     | 40
Krugman  | 7       | Big_Coal   | 1            | HUNTINGTON_BEACH_1-2 | 13       | 5      | 40.5   | 40.5   | 40.5   | 40.5
Becker   | 2       | Big_Gas    | 2            | EL_SEGUNDO_3-4       | 22       | 5      | 41.97  | 44.97  | 61.97  | 44.97
Becker   | 2       | Big_Gas    | 2            | ENCINA               | 25       | 5      | 41.97  | 44.97  | 61.97  | 44.97
Krugman  | 7       | Big_Coal   | 1            | REDONDO_5-6          | 15       | 5      | 42.3   | 41.94  | 41.94  | 42.3
... (32 rows omitted)

In [43]:
ESG = Table.read_table('ESGPorfolios_.csv').sort("Total_Var_Cost_USDperMWH")
ESG

Group        | Group_num | UNIT NAME       | Capacity_MW | Heat_Rate_MMBTUperMWh | Fuel_Price_USDperMMBTU | Fuel_Cost_USDperMWH | Var_OandM_USDperMWH | Total_Var_Cost_USDperMWH | Carbon_tonsperMWH | FixedCst_OandM_perDay
Old_Timers   | 7         | BIG CREEK       | 1000        | nan                   | 0                      | 0                   | 0                   | 0                        | 0                 | $15,000
Fossil_Light | 8         | HELMS           | 800         | nan                   | 0                      | 0                   | 0.5                 | 0.5                      | 0                 | $15,000
Fossil_Light | 8         | DIABLO CANYON 1 | 1000        | 1                     | 7.5                    | 7.5                 | 4                   | 11.5                     | 0                 | $20,000
Bay_Views    | 4         | MOSS LANDING 6  | 750         | 6.9                   | 4.5                    | 31.06               | 1.5                 | 32.56                    | 0.37              | $8,000
Bay_Views    | 4         | MOSS LANDING 7  | 750         | 6.9                   | 4.5                    | 31.06               | 1.5                 | 32.56                    | 0.37              | $8,000
Old_Timers   | 7         | MOHAVE 1        | 750         | 10                    | 3                      | 30                  | 4.5                 | 34.5                     | 0.94              | $15,000
Old_Timers   | 7         | MOHAVE 2        | 750         | 10                    | 3                      | 30                  | 4.5                 | 34.5                     | 0.94              | $15,000
Big_Coal     | 1         | FOUR CORNERS    | 1900        | 11.67                 | 3                      | 35                  | 1.5                 | 36.5                     | 1.1               | $8,000
Bay_Views    | 4         | MORRO BAY 3&4   | 665         | 8.02                  | 4.5                    | 36.11               | 0.5                 | 36.61                    | 0.43              | $4,000
East_Bay     | 6         | PITTSBURGH 5&6  | 650         | 8.02                  | 4.5                    | 36.11               | 0.5                 | 36.61                    | 0.43              | $2,500
... (32 rows omitted)

In [38]:
big_coal = prices.where("PORTFOLIO","Big_Coal")
capacities = ESG.where("Group","Big Coal").column('Capacity_MW')